.link {
  text-decoration: none;
}

.header {
  padding-top: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
  line-height: 1.5;
  margin-top: 24px;
}

.address .link {
  color: #434455;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
}

.features-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team li {
  background-color: #ffffff;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.hero {
  background-color: #2e2f42;
}

.team-inner {
  background-color: #f4f4fd;
}

.features-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-padding {
  padding-right: 40px;
  padding-left: 40px;
}
